<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mother"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allow  Phone to Read State -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Allow to write internal storage -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- Allow to write external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mother.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.Login"
            android:label="@string/login_page" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.motherpage"
            android:label="@string/mother_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.mother.admin"
            android:label="@string/admin_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.mother.fpworker"
            android:label="@string/fpworker_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.physician"
            android:label="@string/physician_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.registeruser"
            android:label="register user" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.manageappointment"
            android:label="manage appointment" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.setappo"
            android:label="set appointment" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.uploadinfo"
            android:label="upload information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.getadvice"
            android:label="advisory" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.viewinfo"
            android:label="view information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.viewappo"
            android:label="view appointement" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mother.manageuser"
            android:label="manage user" >
            
        </activity>
        <activity
            android:name="com.example.mother.OutboxActity"
            android:label="out box" >
            
        </activity>
         <activity
            android:name="com.example.mother.InboxActivity"
            android:label="inbox" >
            
        </activity>
         <activity
            android:name="com.example.mother.profileActivity"
            android:label="profile" >
            
        </activity>
         <activity
            android:name="com.example.mother.NewLogin"
            android:label="login" >
            
        </activity>
        <activity
            android:name="com.example.mother.viewuser"
            android:label="view user" >
            
        </activity>
         <activity
            android:name="com.example.mother.createAccount"
            android:label="change password" >
            
        </activity>
        <service android:name=".MyAlarmService" />
        <activity
            android:label="Alarm History"
            android:name=".AlarmHistory" >
            
        </activity>
        
        <activity
            android:label="add alarm"
            android:name=".AndroidAlarmService" >
        </activity>
           <activity
            android:label="view appointement"
            android:name=".viewallappo" >
        </activity>
          <activity
            android:name=".updateuser"
            android:label=" update user information" >
            
        </activity>
        <activity
            android:name=".addmedicine"
            android:label=" add medication" >
            
        </activity>
        <activity
            android:name=".infodetaial"
            android:label=" detail" >
            
        </activity>
        <activity
            android:name=".viewmed"
            android:label=" medication" >
            
        </activity>
          <activity
            android:name=".NotificationAlert"
            android:label=" appointment" >
            
        </activity>
         <activity
            android:name=".NotifyMessage"
            android:label="notification detail" >
            
        </activity>
        <activity
            android:name=".notifyinbox"
            android:label="notification detail" >
            
        </activity>
        <activity
            android:name=".history"
            android:label="mother history" >
            
        </activity>
        <activity
            android:name=".viewhistory"
            android:label="history detail" >
            
        </activity>
        <activity
            android:name=".changepassword"
            android:label="change password" >
            
        </activity>
    </application>

</manifest>